@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: 'Share Tech Mono', monospace;
  background-color: #0a0a0a;
  color: white;
  scrollbar-color: #9333ea transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #9333ea;
  border-radius: 10px;
}

@layer utilities {
  .tracking-in-expand {
    animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}
